.row
  .col-md-6
    = flash_messages
.row
  .col-md-5
    %div.wellcome-text
      %h2 Простой способ учета личных финансов!
      %p
        Примитивное приложение учитывающие личных финансов. Это не крутой приложение с огромными
        функциями и настройками, но с его помощью легко контролировать свои расходы или доходы,
        сколько на что потратил, сколько откуда получил.
      %p
        Создайте категории, субкатегории по которым хотите вести учет и заполняйте операции
        по датам. Кнопка "Фильтр" в раздели "Операции" позволяет отбирать строки операции для анализа.
      %p
        = 'Воспользуйтись <a href="users/sign_in?demo=true">Демо-аккаунтом</a> для ознакомление, вдруг понравиться.'.html_safe unless user_signed_in?
  .col-md-7
    = image_tag('myfinance.png')
