nav.navbar
  background-color: white
  .container-fluid
    .navbar-brand
      padding: 0
    ul
      font-size: 16px
      li.active
        a
          background-color: white
          border-bottom: 4px solid blue
          &:hover
            background-color: white
