$commonBorderColor: #CCC
$commonFormTittleColor: #2a95bf
$commonFormTittleBottomColor: black
$whiteBackgroundColor: white

$highlightFilterStringColor: #AD5454
$labelColors: #262626

$whiteFontColor: white
